:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.user-shell-container {
  flex: 1 1 auto;
  height: calc(100vh - 80px);
}

.user-shell-content {
  padding: 24px;
}

::ng-deep .user-shell-container mat-sidenav {
  width: 260px;
}
